[include mainsail.cfg]

# host MCU service is preinstalled and ready to use with:
#[mcu CB1]
#serial: /tmp/klipper_host_mcu

[include Voron2_M8P-v2.0_config.cfg]
[include sample-bigtreetech-ebb-sb-canbus-v1.0.cfg]
[include stealthburner_leds.cfg]
[include KlipperScreenMacros.cfg]
[include Exclude_object.cfg]
[include quad_gantry_level_2_pass.cfg]
[include KAMP_Settings.cfg]
[include shaketune.cfg]
#####################################################################
# 	Probe
#####################################################################

[probe]
##	Inductive Probe
##	This probe is not used for Z height, only Quad Gantry Leveling
##  NPN and PNP proximity switch types can be set by jumper
pin: ^EBBCan:gpio22 #M4-STOP
x_offset: 0
y_offset: 0.0
#z_offset: -1.050
speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3

[virtual_sdcard]
path: ~/printer_data/gcodes
[display_status]
[pause_resume]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = -0.960
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.010000, 0.020000, 0.020000
#*# 	  -0.042500, -0.010000, 0.005000
#*# 	  -0.025000, 0.010000, -0.005000
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 112.76
#*# max_x = 239.9
#*# min_y = 109.43
#*# max_y = 238.93
