[include mainsail.cfg]

# host MCU service is preinstalled and ready to use with:
#[mcu CB1]
#serial: /tmp/klipper_host_mcu

[include Voron2_M8P-v2.0_config.cfg]
[include sample-bigtreetech-ebb-sb-canbus-v1.0.cfg]
[include stealthburner_leds.cfg]
[include KlipperScreenMacros.cfg]
[include Exclude_object.cfg]
[include quad_gantry_level_2_pass.cfg]
[include KAMP_Settings.cfg]
[include shaketune.cfg]
[include nevermore.cfg]
#####################################################################
# 	Probe
#####################################################################

[probe]
##	Inductive Probe
##	This probe is not used for Z height, only Quad Gantry Leveling
##  NPN and PNP proximity switch types can be set by jumper
pin: ^EBBCan:gpio22 #M4-STOP
x_offset: 0
y_offset: 0.0
#z_offset: -1.050
speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3

[skew_correction]


[virtual_sdcard]
path: ~/printer_data/gcodes
[display_status]
[pause_resume]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = -1.060
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.035000, 0.020000, 0.060000, 0.067500, 0.047500
#*# 	  -0.030000, -0.032500, -0.027500, 0.015000, -0.022500
#*# 	  -0.032500, -0.042500, -0.030000, -0.030000, -0.045000
#*# x_count = 5
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 57.6396
#*# max_x = 291.5596
#*# min_y = 64.3605
#*# max_y = 285.3805
#*#
#*# [skew_correction CaliFlower]
#*# xy_skew = -0.003407201054684265
#*# xz_skew = 0.0
#*# yz_skew = 0.0
